body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  text-align: center;
  border: 2px solid Black;
  padding: 8px 8px 32px 32px;
  width: 500px;
  height: 500px;
}
button {
  color: blue;
  padding: px 8px 8px 8px 8px;
  display: block;
  margin: auto
}
.btn:hover {
  background-color: blue; 
  color: white;
}
.btn:focus {
  background-color: blue; 
  color: white;
}
.image {
  padding: 8px 8px 32px 190px;
}
.heading{
  margin: 50px;
}
@media (min-width: 500px) and (max-width: 800px) {
  button {
    opacity: 0;
    display: none;
  }
}
@media (max-width: 500px) {
  div {
    font-size: 10px;
    image-size: auto;
  }
}